[submodule "Carthage/Checkouts/Box"]
	path = Carthage/Checkouts/Box
	url = https://github.com/robrix/Box.git
[submodule "Carthage/Checkouts/Prelude"]
	url = https://github.com/robrix/Prelude.git
[submodule "Carthage/Checkouts/Either"]
	url = https://github.com/neilpa/Either.git
[submodule "Carthage/Checkouts/Result"]
	url = https://github.com/antitypical/Result.git
